@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moja_Aplikacija</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Moja_Aplikacija.styles.css" asp-append-version="true" />
</head>
<body>
    <div ="row">
        <div class="col-md-5 offset-5" >
            <div class="login-panel panel panel-default">
                <div class ="panel-heading">
                    <h3>Nemate prava pristupu</h3>
                </div>
                <div class = "panel-body">
                    <a href="/"> Vratite se na pocetnu</a>
                </div>
            </div>
        </div>
    </div>



 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 
</body>
</html>