@model IEnumerable<Moja_Aplikacija.Entity.Book>
<h3>TOP 3 PROIZVODA</h3>
<ul class="List-group-shadow">
    @foreach (var p in Model)
    {
        <li class="List-group-items">
            <div class="row">
                 <div class = "col-md-4">
                     <h4 class="font-weight-bold" style="margin:20px">@p.Name</h4>
                </div>
                <div class="col-md-8">
                    <img src="@p.ImagePath" alt="Generic placeholder image" width="200" style="float:left">
                </div>
            </div>
        </li>
    }
</ul>

